<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Beauty App</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="inicio">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="mapa">
        <ion-icon name="map-outline"></ion-icon>
        <ion-label>Ubicaciones</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="configuracion">
        <ion-icon name="settings-outline"></ion-icon>
        <ion-label>Opciones</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="logout">
        <ion-icon name="log-out-outline"></ion-icon>
        <ion-label>Cerrar sesión</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
